
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav 
    #drawer
    fixedInViewport
    class="sidenav"
    [attr.role]="(this.isHandset) ? 'dialog' : 'navigation'"
    [mode]="(this.isHandset) ? 'over' : 'side'"
    [opened]="(this.isHandset) === false"
  >
    <mat-nav-list *ngIf="menus.length > 0">

      <a mat-list-item [routerLink]="['/docs']"><mat-icon mat-list-icon>home</mat-icon> Homepage </a>

      <a mat-list-item *ngFor="let menu of menus" [routerLink]="['/docs', menu.pageId]">
        <mat-icon mat-list-icon *ngIf="menu.matIcon !== null">
          {{ menu.matIcon }}
        </mat-icon>
        
        {{ menu.name }}
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
    
</mat-sidenav-container>