
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav 
    #drawer
    fixedInViewport
    class="sidenav"
    [attr.role]="(this.isHandset) ? 'dialog' : 'navigation'"
    [mode]="(this.isHandset) ? 'over' : 'side'"
    [opened]="(this.isHandset) === false"
  >
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/']"><mat-icon mat-list-icon>home</mat-icon> Homepage </a>

      <a mat-list-item [routerLink]="['/docs']"><mat-icon mat-list-icon>description</mat-icon> Páginas </a>
      
      <a mat-list-item *ngFor="let menu of menus | async" [routerLink]="['/docs', menu._id]">
        <mat-icon mat-list-icon *ngIf="menu.icon !== null">
          {{ menu.icon }}
        </mat-icon>
        {{ menu.title }}
      </a>
    </mat-nav-list>
    
  </mat-sidenav>

  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
    
</mat-sidenav-container>