
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav 
    #drawer
    fixedInViewport
    class="sidenav"
    [attr.role]="(this.isHandset) ? 'dialog' : 'navigation'"
    [mode]="(this.isHandset) ? 'over' : 'side'"
    [opened]="(this.isHandset) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>

    <mat-nav-list *ngIf="menus.length > 0">
      <a mat-list-item href="#" *ngFor="let menu of menus">
        <mat-icon *ngIf="menu.matIcon !== null" mat-list-icon>{{ menu.matIcon }}</mat-icon>
        {{ menu.name }}
      </a>
    </mat-nav-list>
    <pre>
      {{ menus | json}}
    </pre>
  </mat-sidenav>

  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
    
</mat-sidenav-container>