<form [formGroup]="docsForm" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-title>Nova Página</mat-card-title>
    <mat-card-content>
      <mat-form-field class="full-width">
        <input matInput placeholder="Titulo" formControlName="title">
      </mat-form-field>

      <mat-form-field class="full-width">
        <textarea  matInput placeholder="Markdown" formControlName="markdown"></textarea>
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Salvar</button>
      <button mat-button>Cancelar</button>
    </mat-card-actions>
    
  </mat-card>
</form>
