:host {
  display: flex;
  margin-top: 16px;
  flex-direction: column;
  align-items: center;

  .preview-body{
    width: 80%;
    display: grid; 
    grid-template-columns: 1fr 3fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "sidenav content"; 
    
    .navigation {
      grid-area: sidenav;
      padding: 16px;
      position: fixed;
      max-width: 282px;
    }
  
    markdown {
      grid-area: content;
      padding: 16px;
      overflow: auto;
    }
  }
  
}