:host {
  display: flex;
  flex-direction: column;
  align-items: center;

  .preview-body{
    display: flex;
    flex-direction: row;
    width: 80%;
    
    .navigation {
      width: 25%;
      padding: 16px;
    }
  
    markdown {
      width: 75%;
      padding: 16px;
    }
  }
  
}